@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
p, h2, span {
    font-family: "Fira Sans", Arial, sans-serif;
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Setting structures */
#settingsFlexer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
form {
    display: inline-block;
}

/* Blacklisted And Whitelisted Settings */
.sitelist select, .sitelist input[type=text] {
    width: 255px;
}
.sitelist input[type=button], .sitelist input[type=submit] {
    width: 90px;
}
.sitelist .errorField {
    margin-top: 5px;
    color: red;
    font-style: italic;
}
.sitelist .errorField.shown {
    animation: fadeOut 0.5s linear 0.5s 1 forwards;
}

.infotext {
    width: 245px;
    text-align: left;
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

/* Blocking Settings */
#blockTime input, #blockTime p{
    display: inline;
}
#blockTime input {
    width: 70px;
    text-align: center;
}
#blockTime #minutes {
    margin-left: 10px;
}
#blockTime div {
    float: right;
}
#blockTime #saveState {
    margin-right: 10px;
    font-size: 15px;
    font-style: italic;
}
#blockTime input[type=submit] {
    width: 75px;
}
#blockTime #saveState.edited {
    color: red;
}
#blockTime #saveState.saved {
    color: green;
    animation: fadeOut 0.5s linear 0.5s 1 forwards;
}

/* Notification Settings */
/*#settings #notifications {
    width: 320px;
}*/
#notifications input[type=button] {
    width: 105px;
    margin-top: 20px;
}
#notifications input[type=number] {
    width: 50px;
    height: 25px;
}
#notifications #checkboxSwitch {
    display: flex;
}
#notifications #checkboxSwitch span {
    display: block;
    margin-left: 10px;
}
#notifications .notifyTime {
    padding: 10px 0 10px;
}
#notifications .notifyTime span {
    margin-left: 10px;
}
#notifications .notesDisabled {
    color: gray;
}

/* Delay Settings */
#delays input[type=button] {
    width: 105px;
    margin-top: 20px;
}
#delays input[type=number] {
    width: 50px;
    height: 25px;
}
#delays #delaySwitch {
    display: flex;
}
#delays #delaySwitch span {
    display: block;
    margin-left: 10px;
}
#delays #delayLength span {
    margin-left: 10px;
}
#delays .delayDisabled {
    color: gray;
}

/* Disable Notice Styles */
#disabledNotice {
    color: red;
    font-style: italic;
    opacity: 0;
}
#disabledNotice.shown {
    opacity: 1;
    animation: fadeOut 1s linear 4s 1 forwards;
}
