body {
    height: 400px;
    display: flex;
    align-items: stretch;
}
p, h3, h4, span {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto 7px auto;
}
.slice {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.slice > * {
    padding: 0 5px 0 5px;
    flex: 1;
    min-width: 0;
}
input[type="button"], input[type="submit"] {
    padding: 3px;
    border: solid ThreeDShadow;
    border-width: 0 1px 0 1px;
    border-radius: 0;
    color: white;
    background-color: #7C7C7C;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #496E94;
}
input[type="button"]:active, input[type="submit"]:active {
    background-color: #58A;
}
select {
    width: 100%;
    height: 50%;
}

/**********     Blockgroups Styles      **********/
#blockgroups div {
    display: flex;
    justify-content: space-between;
}
#blockgroups input {
    width: 100%;
}
.entry {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin-bottom: 5px;
    border: 1px solid #7C7C7C;
    background-color: white;
    cursor: default;
}
.entry h4 {
    margin: 0;
    vertical-align: middle;
}
.close_button {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 5px;
    text-align: center;
    line-height: 10px;
    border-radius: 100%;
    -moz-user-select: none;
    font-family: sans-serif;
    color: white;
    background-color: #777;
}
.close_button:hover {
    background-color: #944949;
}
.close_button:active {
    background-color: #E06F6F;
}

#divider {
    background: linear-gradient(
                rgba(0, 0, 0, 0),
                #496E94, #496E94, #496E94,
                rgba(0, 0, 0, 0)
    );
    flex: 0 0 2px;
    margin: 0 10px 0 10px;
}

/**********     Sitelist Styles        **********/
.sitelist select {
    height: 50%;
}
.sitelist input[type="button"] {
    width: 100%;
}
.sitelist div {
    display: flex;
    margin-top: 15px;
}
.sitelist input[type="text"] {
    display: inline;
    width: 80%;
}
.sitelist input[type="submit"] {
    display: inline;
    width: 20%;
}
.sitelist .errorField {
    margin-top: 5px;
    color: red;
    font-size: 13px;
    font-style: italic;
}

/**********     Naming Options      **********/
#blockgroup_name input {
    width: 95%;
}

/**********     Blocking Options    **********/
#blockgroup_time input, #blockgroup_time div p {
    display: inline;
}

#blockgroup_time input {
    width: 30px;
    margin-right: 5px;
}

#blockgroup_time div {
    display: inline-block;
}

#blockgroup_time div:first-of-type {
    margin: 0 10px 10px 0;
}

/**********     Delay Options       **********/
#delays input[type="button"] {
    width: 105px;
    margin-top: 20px;
}

#delays input[type="number"] {
    width: 60px;
    height: 25px;
}

.switch {
    display: flex;
}

.switch input {
    flex: 0;
}

.switch p {
    width: 75%;
    margin-left: 10px;
}

#blockgroup_delays > p {
    margin: 10px 0 10px 0;
}

#blockgroup_delays div:last-child input {
    width: 40px;
}
#blockgroup_delays div:last-child p {
    display: inline;
}

/********** Notification Settings   **********/
#blockgroup_notifications > p {
    margin-top: 10px 0 10px 0;
}
#blockgroup_notifications input[type="button"] {
    width: 100%;
}
#blockgroup_notifications .entry {
    width: 40%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0 0 10px 0;
}
#blockgroup_notifications .entry input {
    width: 30px;
}
#blockgroup_notifications .entry span {
    margin-top: 5px;
    margin-left: 15px;
}
