@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
p, h2, span {
    font-family: "Fira Sans", Arial, sans-serif;
}
body {
    padding: 0 5% 0 5%;
    text-align: justify;
}
form {
    display: inline-block;
    vertical-align: top;
}
#stretch {
    display: inline-block;
    width: 100%;
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Blacklisted Settings */
#sites select, #sites input[type=text] {
    width: 255px;
}
#sites input[type=button], #sites input[type=submit] {
    width: 100px;
}
#sites #errorField {
    margin-top: 5px;
    color: red;
    font-style: italic;
}
#sites #errorField.shown {
    animation: fadeOut 0.5s linear 0.5s 1 forwards;
}

/* Blocking Settings */
#blockTime input, #blockTime p{
    display: inline;
}
#blockTime input {
    width: 70px;
    text-align: center;
}
#blockTime #minutes {
    margin-left: 10px;
}
#blockTime div {
    float: right;
}
#blockTime #saveState {
    margin-right: 10px;
    font-size: 15px;
    font-style: italic;
}
#blockTime input[type=submit] {
    width: 75px;
}
#blockTime #saveState.edited {
    color: red;
}
#blockTime #saveState.saved {
    color: green;
    animation: fadeOut 0.5s linear 0.5s 1 forwards;
}

/* Notification Settings */
#notifications input[type=button] {
    width: 105px;
    margin-top: 20px;
}
#notifications input[type=number] {
    width: 50px;
    height: 25px;
}
#notifications div div {
    margin: 10px 0 10px 0;
}
#notifications span {
    margin-left: 10px;
}
#notifications .notesDisabled {
    color: gray;
}

/* Disable Notice Styles */
#disabledNotice {
    color: red;
    font-style: italic;
    opacity: 0;
}
#disabledNotice.shown {
    opacity: 1;
    animation: fadeOut 1s linear 4s 1 forwards;
}
