@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    padding: 30px;
    padding-top: 10%;
    background: #FFCF63;
    font-family: Roboto;
    text-align: center;
}
img {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
p {
    display: inline-block;
    margin-left: 10px;
    line-height: 1.2;
    vertical-align: middle;
}
h3 {
    display: inline-block;
}
