@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: white;
    padding: 5px 10px 5px 10px;
}
p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2D2D2D;
}
#timer {
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
}
#settings {
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    color: #496E94;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid #496E94;
    border-radius: 10px;
    padding: 5px;
}
div {
    width: 100%;
    text-align: right;
}
#settings:hover {
    text-decoration: none;
    background-color: #BCD;
}
#settings:active {
    text-decoration: none;
    background-color: #58A;
}
